h1 {
	font-family: Work Sans, sans-serif;
	font-size: 2em;
	overflow: visible;
	margin: -6px;
}


h2 {
	font-family: Work Sans, sans-serif;
    font-size: 1.8em;
    overflow: visible;
}

body {
	background-color: #fdfdfd;
}

.header {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#top {
	margin: 50px 0 15px 0;
}

#path0_stroke {
	fill: #d02259;
}

.rainbow {
	animation: backgroundRainbow 3s infinite;
	-webkit-animation: backgroundRainbow 3s infinite;
}

.header {
	cursor: pointer;
}

.header p {
	font-family: Work Sans, sans-serif;
	font-size: 1em;
}

#keep-scrolling {
	position: absolute;
	text-align: center;
	width: 100%;
	margin: auto;
	bottom: 10px;
	color: black;
	font-family: Work Sans, sans-serif;
	font-size: 1em;
}

@keyframes backgroundRainbow {
  0%   {background: #ffe7e7;}
  25%  {background: #feffe7;}
  50%  {background: #e7f6ff;}
  75%  {background: #e7ffe7;}
  100% {background: #ffe7e7;}
}

@-webkit-keyframes backgroundRainbow {
  0%   {background: #ffe7e7;}
  25%  {background: #feffe7;}
  50%  {background: #e7f6ff;}
  75%  {background: #e7ffe7;}
  100% {background: #ffe7e7;}
}

.test-section {
    width: 60%;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    overflow: hidden;
}

/*Consider masking logo and showing gradient through it*/