h1 {
	font-family: courier;
	font-weight: bold;
}

p {
	font-family: courier;
	font-weight: bold;
}

.main-chat {
	width: 60%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	background-color: pink;
	padding: 20px;
}

.chatbox {
	background-color: #e5e5e5;
	width: 90%;
	margin: auto;
	padding: 10px;
}

.container {
	border-radius: 5px;
}

.bot-message {
	background-color: pink;
	margin: 0 80px 0 10px;
}

.user-message {
	background-color: red;
	margin: 0 10px 0 80px;
}

.container p {
	padding: 10px;
}

.option-box {
	width: 90%;
	background-color: blue;
	margin: auto;
	padding: 0 10px;
}

.options li {
	width: 20%;
	display: inline-block;
	background-color: yellow;
	border-radius: 5px;
}

.options li span{
	padding: 10px;
}

span {
	font-family: courier;
	font-weight: bold;
}