h1 {
	font-family: courier;
	font-weight: bold;
}

.main-chat {
	width: 60%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	background-color: pink;
	padding: 20px;
	overflow: hidden;
}

.chatbox {
	background-color: #e5e5e5;
	width: 90%;
	margin: auto;
	padding: 10px;
}

.container {
	border-radius: 5px;
	max-width: 80%;
	margin: 10px auto;
}

.message-li div {
	font-family: courier;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}

.bot-message {
	background-color: pink;
	float: left;
}

.user-message {
	background-color: red;
	float: right;
}

.options {
	padding: 0px;
	text-align: center;
	width: 100%;
	margin: 30px 0 0 0;
}

.options li {
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

span {
	font-family: courier;
	font-size: 12px;
	font-weight: bold;
}

ol {
	list-style: none;
	padding: 0;
}

.message-li {
	overflow: hidden;
}