.main-chat {
	width: 60%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
}

.chatbox {
	width: 90%;
	margin: auto;
	padding: 10px;
}

.container {
	border-radius: 5px;
	max-width: 80%;
	margin: 8px auto;
}

.message-li div {
	font-family: work sans, sans-serif;
	font-size: 0.8em;
	padding: 10px;
}

.bot-message {
	background-color: #f3f3f3;
	float: left;
	border: 1px solid grey;
}

.user-message {
	background-color: grey;
	color: white;
	float: right;
}

#options {
	padding: 0px;
	text-align: center;
	width: 100%;
	margin: 30px 0 0 0;
}

#options li {
	cursor: pointer;
	display: inline-block;
	background-color: grey;
	color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

span {
	font-family: work sans, sans-serif;
	font-size: 0.8em;
}

ol {
	list-style: none;
	padding: 0;
}

.message-li {
	overflow: hidden;
}

.hide {
	display: none !important;
}